In [0]:
# Meus outros cursos: https://linktr.ee/rafaelfvcs

In [0]:
import pandas as pd

In [0]:
Carros =[7, 4, 3, 2, 8]

dias = pd.date_range('20190101','20190101', periods=5)

vendedor = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']

df = pd.DataFrame({'Vendas':Carros, 'Data':dias, 'Vendedor':vendedor})

In [0]:
df

   Vendas       Data Vendedor
0       7 2019-01-01   George
1       4 2019-01-01   Vagner
2       3 2019-01-01    Pedro
3       2 2019-01-01   Vagner
4       8 2019-01-01   George

In [0]:
pd.pivot(df, index='Data',columns='Vendedor', values='Vendas')

In [0]:
pd.pivot_table(df, index='Data',columns='Vendedor', values='Vendas',aggfunc='sum' )

Vendedor    George  Pedro  Vagner
Data
2019-01-01      15      3       6